<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fqxyi.webview">

    <application>
        <activity
            android:name=".activity.WebviewActivity"
            android:process=":webview" />

        <service android:name=".service.MainRemoteService" />
        <service
            android:name=".service.PreWebService"
            android:process=":webview" />
    </application>

</manifest>
